/* //////////////////////// */
/* NAV */

.nav-buttons, .card-buttons {
    list-style: none;
}

.nav-buttons {
    display: flex;
}

.nav-buttons li {
    width: 100%;
}

.nav-buttons li:first-child .nav-btn {
    border-right: none;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-buttons li:last-child .nav-btn {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.nav-btn {
    color: #8090A5;
    letter-spacing: 0.5px;

    width: 100%;
    padding: 0.5rem 0;
    background-color: #fff;

    border: 1px solid #8090A5;
}


/* //////////////////////// */
/* CARD */

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    padding: 0 1.5rem 1.5rem;
    margin: 1.5rem 0;

    
    background-color: #f3f1f1;
}

.card img {
    width: 35rem;
}


/* card text */
.card h1 {
    font-size: 2.4rem;
    font-weight: 400;
}

.card p {
    font-size: 1.2rem;
    letter-spacing: 0.1px;
    line-height: 1.3;
}

/* card buttons */
.card-buttons {
    display: flex;
    width: 100%;

}

.card-buttons li {
    width: 100%;
}

.card-buttons li {
    display: flex;
}

.card-buttons li:last-child {
    justify-content: end;
}

.card-btn {
    color: #47525E;
    width: 95%;
    padding: 0.7rem 0;

    border: 1px solid #47525E;
    border-radius: 5px;
}

.card-buttons li:last-child .card-btn {
    background-color: #47525E;
    color: #fff;
}


/* //////////////////////// */
/* CUSTOM CLASSES */

/* active class */
.active {
    background-color: #8090A5;
    color: #fff;
}

/* hidden class */
.hidden {
    display: none;
}

/* error-message class */
.error-message {
    text-align: center;
    margin: 2rem 0;
}
